rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // NOTE: No Firebase Auth in the app, so storage is open.
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
